
    
  <%- include ../templates/sidenav.ejs %>
 
 <div class="ui pusher">
    <h1 class="ui dividing header">Nova Denúncia</h1>
    <form class="ui form" method="post" action="/desordem/create">
      <div class="field">
        
          <label for="first_name">Tipo</label>
          <input placeholder="tipo" name="tipo" type="text" class="validate">
       
      </div>

      <div class="field">
        
          <label for="first_name">Descrição</label>
          <textarea  placeholder="descrição" name="descricao" type="text"  class="materialize-textarea"></textarea>
        
      </div>
      <div class="field">
        
        <label>Orgão</label>
        <select name="orgao">
          <option value="" disabled selected>Qual órgao</option>
          <% if(orgaos){ 
              for(var i = 0; i < orgaos.length; i++){%>
                  <option value=<%= orgaos[i].org_idorgao %> ><%= orgaos[i].org_nome %></option>
              <% }} %>
        </select>
      </div>
    </div>

      <div class="field">
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
    
<%- include ../templates/bottom.ejs %>