.material-icons{
	margin-right: 2px !important;
}

/* #map{
  marg
} */



.addDenuncia{
  padding: 40px;
}

.sidenav{
	padding-top: 56px;
	/*width: 250px !important;*/
}

header, main, footer {
  padding-left: 300px;
}

.titulomodal{
  padding-left: 30%;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

#modal1{
  padding: 10px;
}