#fora_sidenav{
	margin-left: 25%;
	margin-top: 5%;
	padding-right: 150px;
}

.sidenav{
	padding-top: 50px;
	width: 250px !important;
}

#link-home{
	color: white;
}

#botao-menu, .pointer{
	cursor: pointer;
}

.ui.menu{
	margin: 0px;
	padding: 5px;
	border-radius: 0;
}

table{
	margin-top: 5%;
}

.clear{
	color : #ff5e5e;
}

.titulo_create{
	padding-bottom: 30px;
}

nav{
	background-color: rgba(0, 153, 255, 0.911);
}

td{
	box-align: center;
}

.show{
	border: 2px solid;
	box-shadow: 5px 10px #888888;
	margin-top: 50px;
	margin-left: 250px;
	margin-right: 250px;
}

.add{
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.img_usuario{
	border-radius: 50%;
}

.pusher{
	padding-top: 2.5%;
	margin-right: 25%;
	margin-left: 5%;
}

.sidebar{
	padding-top: 2%;
	padding-left: 1%;
}

.ui.inverted.menu{
	background: black;
}

/* .links{
    -webkit-appearance: none;
    color: rgb(0, 0, 0) !important;
} */
/* .botao_adicionar{
	position: absolute;
} */