#fora_sidenav{
	margin-left: 25%;
	margin-top: 5%;
	padding-right: 150px;
}

.sidenav{
	padding-top: 56px;
	width: 250px !important;
}

table{
	margin-top: 5%;
}

.clear{
	color : #ff5e5e;
}

.titulo_create{
	padding-bottom: 30px;
}

nav{
	background-color: rgba(0, 153, 255, 0.911);
}

td{
	box-align: center;
}

.show{
	border: 2px solid;
	box-shadow: 5px 10px #888888;
	margin-top: 50px;
	margin-left: 250px;
	margin-right: 250px;
}

.add{
  position: fixed;
  bottom: 50px;
  right: 50px;
}