<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" type="text/css" href="css/admin.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
       #map {
        height: 1000px;
        width: 100%;
       }
    </style>
  </head>
  <body>
      <ul id="slide-out" class="sidenav sidenav-fixed">
      <li><a href="#!">Denuncias</a></li>
      <li><a href="/admin">Mapa</a></li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Desordem</a>
            <div class="collapsible-body">
              <ul>
                <li><a href="/desordem/new">Criar desordem</a></li>
                <li><a href="#!">Alterar desordem</a></li>
                <li><a href="#!">Apagar desordem</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </ul>

    <div id="map"></div>
    <script type="text/javascript" src="js/init_map.js"></script>
    
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdFqB_TkDKYojffKxjX-lWgTWGJVMBKTM&callback=initMap">
    </script>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.js"></script>
    <script type="text/javascript">
    // SIDEBAR
      document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.sidenav');
      var instances = M.Sidenav.init(elems, options);
      });

      $(document).ready(function(){
      $('.sidenav').sidenav();
      });

       document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.collapsible');
          var instances = M.Collapsible.init(elems, options);
        });

        // Or with jQuery

        $(document).ready(function(){
          $('.collapsible').collapsible();
        });
      
    </script>
  </body>
</html>
