<!DOCTYPE html>
<html>
<head>
	<title>Admin Page</title>
	<link rel="stylesheet" type="text/css" href="css/bulma.css">
</head>
<body>
	<section class="hero is-dark">
		<div class="hero-body">
			<div class="container">
	      	<h1 class="title">
	        	Administração da Plataforma
	      	</h1>
	    	</div>
  		</div>
	</section>


  <aside class="column is-3 section is-hidden-mobile">
    <p class="menu-label is-hidden-touch">Navegação</p>
    <ul class="menu-list">
      <li>
        <a href="#" class="">
          <span class="icon"><i class="fa fa-home"></i></span> Usuários
        </a>
      </li>
      <li>
        <a href="#" >
          <span class="icon"><i class="fa fa-table"></i></span> Denúnicas
        </a>

        <ul>
          <li>
            <a href="#">
              <span class="icon is-small"><i class="fa fa-link"></i></span> Homologar Denúncias
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon is-small"><i class="fa fa-link"></i></span> Link2
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#" class="">
          <span class="icon"><i class="fa fa-info"></i></span>Gráficos
        </a>
      </li>
    </ul>
  </aside>
</body>
</html>