
  <ul id="slide-out" class="sidenav sidenav-fixed container" style="display: block;">
    <!-- <li><a href="#!">Denuncias</a></li> -->
    <li><a href="/usuarios">Usuários</a></li>
    <li><a href="/admin">Mapa</a></li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Desordens</a>
          <div class="collapsible-body">
            <ul>
              <li><a href="/desordem/new">Criar desordem</a></li>
              <li><a href="/desordens">Listar Desordens</a></li>
            </ul>
          </div>
        </li>
      </ul>
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Orgaos</a>
          <div class="collapsible-body">
            <ul>
              <li><a href="/orgaos/new">Cadastrar Órgão</a></li>
              <li><a href="/orgaos">Listar Órgãos</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
  </ul>
