
  <ul id="slide-out" class="sidenav sidenav-fixed container" style="display: block;">
    <li><a href="#!">Denuncias</a></li>
    <li><a href="/admin">Mapa</a></li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Desordem</a>
          <div class="collapsible-body">
            <ul>
              <li><a href="/desordem/new">Criar desordem</a></li>
              <li><a href="#!">Alterar desordem</a></li>
              <li><a href="/desordem/delete">Apagar desordem</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
  </ul>
