<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Welcome</title>
  <link rel="stylesheet" type="text/css" href="css/bulma.css">
  <link rel="stylesheet" type="text/css" href="css/welcome.css">
</head>
<body>

<section class="hero is-dark is-fullheight">
  <!-- Hero head: will stick at the top -->
<!-- START NAV -->
  <nav class="navbar is-white">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item brand-text" href="../">
          Home       
        </a>
        <div class="navbar-burger burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/login">
            Login
          </a>
          <a class="navbar-item" href="admin.html">
            Sign Up
          </a>
        </div>

      </div>
    </div>
  </nav>
  <!-- END NAV -->

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Desordem Urbana
      </h1>
      <h2 class="subtitle">
        Subtitle
      </h2>
    </div>
  </div>
<div>
	<p></p>
</div>
</section>
  <script async type="text/javascript" src="../js/bulma.js"></script>
</body>
</html>