<br><br>
<script src="../../js/jquery-3.3.1.min.js" ></script>
    <script src="../../js/semantic.min.js" ></script>
    <script>
        // $('.ui.sidebar')
        //   .sidebar('toggle')
        // ;

        if (failed == 1) {
            alert("Erro ao inserir na base de dados");
        }
    </script> 
    
</body>
</html>

