<nav style="background-color: white; border-bottom: 1px solid gray">
    <div class="nav-wrapper">
        <!-- <a style="padding-left: 10px;" href="#" class="brand-logo">Logo</a> -->
        <ul  id="nav-mobile" class="right hide-on-med-and-down">
        <li><a style="color: black;" href="sass.html">Sass</a></li>
        <li><a style="color: black;" href="badges.html">Components</a></li>
        <li><a style="color: black;" href="collapsible.html">JavaScript</a></li>
        </ul>
    </div>
</nav>