<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../css/semantic.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    
    <title>Sistema</title>
</head>
<body>

  <div class="ui visible left sidebar inverted vertical menu">
    
    <div class="item">
      <div class="header"><h4>Sistema Gerenciador Desordem</h4></div>
      <div class="menu">
        <a class="item"><%= sess.login %></a>
        <a class="item" href="/logout" >Sair</a>
      </div>
    </div>

    <a href="/usuarios" class="item">
      Usuários
    </a>
    <a href="/admin" class="item">
      Mapa
    </a>
    <a href="/desordens" class="item">
      Desordens
    </a>
    <a href="/orgaos" class="item">
      Órgãos
    </a>
    <a href="/denuncias" class="item">
      Denúnicas
    </a>
    <a href="/tipos" class="item">
      Tipos de desordem
    </a>
    <br>
    <% if (sess.tipo == 1){ %>
      <div class="item" id="gestao">
        
        <div class="header">Gestor</div>
        <div class="menu">
          
          <a class="item" href="/gestor" >Acesso ao painel do Gestor</a>
        </div>
      </div>
    <% } %>

  </div>



